<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../../includes/links.ejs') %>
        <script src="/js/color-modes.js"></script>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <%- body %>
    </body>

    <script src="/js/bootstrap.bundle.js"></script>
</html>
